<div class="add-object">
  <div class="row" style="margin-bottom:15px;">
    <div class="form-group">
      <div class="col-md-3">
      </div>
      <div class="col-md-5">
      </div>
      <div class="col-md-4">
        <p class="help-block">eg. Studio, 1 BHK, 2BHK, etc. </p>
      </div>
    </div>
  </div>

  
  <br/>
</div>
